<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-body">
            <h1>Ultimo Día</h1>
        </div>
        <div class="card-body">
            <button class="btn btn-info" (click)="findValues()">Valores</button>
            <div id="dataTemp">
                <p>MÁXIMO VALOR REGISTRADO TEMPERATURA: {{maxTemp}}</p>
                <p>MENOR VALOR REGISTRADO TEMPERATURA: {{minTemp}}</p>
            </div>
            <div id="dataHumd">
                <p>MÁXIMO VALOR REGISTRADO HUMEDAD: {{maxHumd}}</p>
                <p>MENOR VALOR REGISTRADO HUMEDAD: {{minHumd}}</p>
            </div>
        </div>
        <div class="card-body">
            <div *ngIf="dayChart" class="container">
                <canvas id="dayChart">{{ dayChart }}</canvas>
            </div>
        </div>
    </div>
</div>
