<div class="card">
    <div class="card-body text-custom">
        <div class="card-title">
            <h5>{{ maxDate }} - {{ minDate }}</h5>
        </div>

        <div *ngIf="dayChart" class="table-responsive">
            <canvas id="dayChart" class="table" style="height: 300px">{{ dayChart }}</canvas>
        </div>

        <div class="mb-3">
            <button class="btn btn-outline-custom btn-sm" (click)="findValues()">Información</button>
        </div>

        <div *ngIf="moreInfo">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Mínima</th>
                        <th scope="col">Máxima</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Temperatura</th>
                        <td>{{ minTemp | number: '2.2' }} °C</td>
                        <td>{{ maxTemp | number: '2.2' }} °C</td>
                    </tr>
                    <tr>
                        <th scope="row">Humedad</th>
                        <td>{{ minHumd | number: '2.2' }} %</td>
                        <td>{{ maxHumd | number: '2.2' }} %</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--
        <div *ngIf="dayChart" class="mt-5">
            <canvas id="dayChart">{{ dayChart }}</canvas>
        </div>
        -->
    </div>
</div>